<Section class="section" relative id="Taxonomies__Hero">
    <div class="heading-container">
        <h1 class="hero-heading" style="max-width: max-content;">{{ .Scratch.Get "heading" }}: {{ .Title }}</h1>
    </div>
    <div class="subheading-container">
        <div class="links">
            <a href="/{{.Data.Plural}}">Back to all {{.Data.Plural}}</a>
        </div>
        <div class="grid-controls-container">
            <button id="btnGrid" class="grid-button">
                {{ partial "icons/ui/tiles.html" . }}
            </button>
            <button id="btnRows" class="grid-button">
                {{ partial "icons/ui/rows.html" . }}
            </button>
        </div>
    </div>
</Section>

{{ $script := resources.Get "js/toggleLayout.js" }}
<script src="{{ $script.RelPermalink }}"></script>