{{ define "main" }}

<section class="section narrow">

    {{ partial "article/hero.html" . }}

    {{ partial "article/progress" . }}

    <article id="articleContent" class="post-content" style="position:relative;">
        {{ if isset .Page.Params "bar" }}
        {{ partial "bar/bar" . }}
        {{ end }}
        <div id="toc-container">
            <div id="toc-icon">
                {{ partial "icons/ui/book.html" . }}
            </div>
            <div id="toc" class="hidden visually-hidden">
                <div id="triangle"></div>
                {{.TableOfContents}}
            </div>
        </div>
        {{ .Content }}
    </article>


    {{ partial "article/next.html" . }}
</section>

{{ $script := resources.Get "js/progressBar.js" }}
<script src="{{ $script.RelPermalink }}"></script>
<script src="{{ .Site.BaseURL }}js/toggleIndex.js"></script>
{{ end }}