<section id="achievements-section" class="resume-section">
    <h2>Achievements</h2>
    <div class="achievement">
        <h3 class="field"><a href="https://ieeexplore.ieee.org/document/8903786/" target="_blank">IEEE Publication</a>
        </h3>
        <div class="highlights">
            <p>My Bachelor Thesis Project was accepted for presentation and publication at <a
                    href="http://softcom2019.fesb.unist.hr/" target="_blank">SoftCOM 2019, Split, Croatia</a>.</p>
        </div>
    </div>
</section>