<section id="education-section" class="resume-section">
    <h2>Education</h2>
    <div class="education">
        <h3 class="field">Electronics and Electrical Engineering</h3>
        <div class="metadata">
            <p>Indian Institute of Technology Guwahati<span class="hide-737"> - Major, 2015 - 2019</span></p>
        </div>
    </div>
    <div class="education">
        <h3 class="field">Product Design</h3>
        <div class="metadata">
            <p>Indian Institute of Technology Guwahati<span class="hide-737"> - Minor, 2016 - 2019</span></p>
        </div>
    </div>
</section>