<div id="resume-section">
    <h2>Places I've had an ID made</h2>
    <div class="experience">
        <div class="experience-data">
            <h3 class="company"><a href="https://www.adobe.com/" target="_blank" class="company">Adobe Inc</a></h3>
            <div class="metadata">
                <p>
                    Software Engineer - Cloud Technology<span class="location hide-540">, June 2019 - Present</span>
                </p>
            </div>
            <div class="highlights">
                <p>
                    Part of the engineering team which led the efforts to provide access to Adobe softwares to more than 45
                    million students unable to visit their schools due to COVID-19 mandated lockdown.
                </p>
            </div>
        </div>
    </div>
    <div class="experience">
        <div class="experience-data">
            <h3 class="company"><a href="https://research.samsung.com/sri-n" target="_blank" class="company">Samsung Research Institute</a></h3>
            <div class="metadata">
                <p>
                    Intern<span class="location hide-540">, May 2018 - July 2018</span>
                </p>
            </div>
            <div class="highlights">
                <p>
                    Developed a prototype decentralized application on the Ethereum blockchain for managing electronic medical
                    records and insurance policies using smart contracts.
                </p>
            </div>
        </div>
    </div>
</div>