<section id="resume-card">
    <div class="card-container resume-card-container">
        <div class="card-content resume-card-content">
            <h3 class="card-heading resume-card-heading">
                Here are some highlights from my resume
            </h3>
            <p class="card-text resume-card-text">
                If you like what you see and find yourself feeling curious about my full resume, which is also available
                in a more HR-friendly PDF format, please feel free to contact me via any of these means (preferrably
                email):
            </p>
            {{ partial "social-links/social-links.html" . }}
        </div>
    </div>
</section>