html {
    scroll-behavior: smooth;
}

.hero-subheading {
    margin: 0;
}

th {
    padding: 15px 30px;
}

.code-toolbar>.toolbar>.toolbar-item>button {
    font-size: 13px;
    padding: 8px 10px;
}

.nav-links {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-link {
    opacity: 0.6;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
    margin-right: 30px;
    color: var(--primary);
}

.text-link {
    font-size: 24px;
    font-family: "Merriweather", Georgia, serif;
    margin-bottom: -5px;
}

.nav-link:hover,
.nav-link:focus {
    opacity: 1;
    text-decoration: none;
}

.nav-link:visited {
    color: var(--primary);
}

blockquote {
    font-style: normal;
    padding: 60px 0 0;
    position: relative;
}

blockquote:before {
    position: absolute;
    font-family: 'FontAwesome';
    top: 0;
    left: 100px;
    content: "\f10d";
    font-size: 200px;
    color: rgba(0, 0, 0, 0.1);
}

blockquote p {
    padding: 10px 30px;
    text-align: center;
}

hr {
    letter-spacing: 0.6em;
    text-align: center;
    font-weight: 300;
    position: relative;
}

hr:before {
    position: absolute;
    font-size: 50px;
    content: "...";
    top: -40px;
}

code:not([class]) {
    padding: .2em .4em;
    margin: 0;
    background-color: var(--hover);
    border-radius: 3px;
}

figcaption p {
    color: var(--secondary);
    font-size: 14px;
    text-align: center;
    width: 100%;
    padding-top: 6px;
}

figcaption a,
figcaption a:visited {
    color: var(--secondary);
}

figcaption a:hover {
    text-decoration: none;
    color: var(--dark-card);
}

figcaption a::before {
    content: "(Credits: ";
}

figcaption a::after {
    content: ")";
}

.img-xs>img,
.img-sm>img,
.img-md>img {
    display: block;
    margin: 0px auto;
    position: relative;
    height: auto;
    z-index: 2;
    border-radius: 5px;
    width: 100%;
}

.img-xs>img {
    max-width: 507px;
}

.img-sm>img {
    max-width: 680px;
}

.img-md>img {
    max-width: 1004px;
}

.img-lg>img {
    z-index: 2;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
}

.article-hero-image figcaption {
    background-color: var(--background-color);
    opacity: 0.95;
    position: absolute;
    z-index: 100;
    width: 100%;
    line-height: 30pt;
    text-align: center;

    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.article-hero-image:hover figcaption {
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.bar-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: center;
    padding: 15px 0;
    margin: 0 auto 40px;
    background: var(--card);
    -webkit-box-shadow: 0 4px 50px rgba(0, 0, 0, .05);
    box-shadow: 0 4px 50px rgba(0, 0, 0, .05);
    z-index: 1;
    width: 100%;
    max-width: 680px;
    align-items: baseline;
}

.bar-message {
    margin: 0;
    padding-right: 20px;
    width: unset;
}

.bar-button:hover,
.bar-button:focus {
    text-decoration: none;
}

.bar-button {
    position: inherit;
    top: 0;
    left: 0;
}

#toc-container {
    position: sticky;
    top: 30%;
    left: 100%;
    width: 250px;
    margin-bottom: -44px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    z-index: 3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: -80px;
}

#toc-icon {
    cursor: pointer;
}

#toc-icon .logo-book {
    opacity: 0.5;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
    width: 56px;
    padding: 2px 8px;
}

#toc-icon .logo-book:hover,
#toc-icon.selected .logo-book {
    opacity: 1;
}

.logo-book svg path {
    fill: var(--articleText);
}

.change-fill {
    fill: var(--primary);
}

#toc {
    opacity: 1;
    -webkit-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease;
    margin-top: 15px;
}

#toc.visually-hidden {
    opacity: 0;
}

#triangle {
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: var(--articleText);
    top: 30px;
    left: calc(50% - 15px);
}

#TableOfContents {
    position: absolute;
    background-color: var(--articleText);
    border-radius: .5em;
    width: 250px;
    max-height: calc(400px - 40px);
    padding: 10px;
    left: 0;
    overflow: scroll;
}

#TableOfContents a {
    color: var(--background-color);
    line-height: 0.8;
    font-size: 14px;
}

#TableOfContents a:hover,
#TableOfContents a:visited,
#TableOfContents a:focus {
    text-decoration: none;
}

#TableOfContents ul {
    padding: 0 10px;
}

#TableOfContents li {
    opacity: 0.6;
    -webkit-transition: opacity .1s ease;
    -o-transition: opacity .1s ease;
    transition: opacity .1s ease;
    padding-bottom: 10px;
}

#TableOfContents li:hover {
    opacity: 1;
}

@media screen and (max-width:1350px) {
    #toc-container {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        margin-right: 0;
    }

    #TableOfContents {
        left: -65px;
        top: 0;
    }

    #triangle {
        border-left-color: var(--articleText);
        border-bottom-color: transparent;
        left: 180px;
        top: 8px;
    }

    #TableOfContents li {
        position: initial;
        padding-left: 0px;
    }
}

@media screen and (max-width:1070px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .img-sm img,
    .bar-container {
        max-width: 507px;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 24px;
    }

    blockquote>p {
        padding-right: 36px;
    }

    blockquote:before {
        left: 0px;
    }

    th {
        padding: 15px 20px;
    }
}

@media screen and (max-width:737px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        max-width: 486px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 22px;
    }

    .section.narrow {
        padding: 0 0;
    }

    blockquote p {
        font-size: 26px;
        padding: 0 100px !important;
    }

    blockquote:before {
        left: 50px;
        font-size: 150px;
    }

    .bar-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        align-items: center;
    }

    .bar-message {
        margin: 0 auto 15px;
    }

    .bar-button {
        margin: 0 auto;
    }
}

@media screen and (max-width:540px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        max-width: 540px;
        padding: 0 20px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    .section.narrow>p {
        padding: 0 2em;
    }

    .post-content {
        padding: 60px 0 35px;
    }

    blockquote p {
        padding: 0 20px 0 40px !important;
    }

    th {
        padding: 15px 20px;
    }

    .text-link {
        font-size: 20px;
        margin-bottom: -2px;
    }

    .nav-link {
        margin-right: 15px;
    }

    blockquote:before {
        visibility: hidden;
    }
}